.availability-list {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.availability-list h3 {
  font-size: 1.8em;
  color: #333;
}

.availability-list h4 {
  font-size: 1.4em;
  color: #555;
}

.availability-list .time-slot-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between items */
}

.availability-list .time-slot {
  flex: 1 1 calc(50% - 10px); /* Two items per row */
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.availability-list p {
  font-size: 1.2em;
  color: #777;
}
